
/*

	Ozzy IDA Theme | 1.0.0
	made by oppsec

*/

@importtheme "_base";

QWidget
{
    background-color: #252C34;
    color: #ddd;
}

QCheckBox
{
    background-color: rgba(0, 0, 0, 0);
}

QTextEdit,
QPlainTextEdit
{
    background-color: #252C34;
    border: 1px solid #414E5C;
    border-radius: 2px;
}

QMenu
{
    border: 1px solid #414E5C;
}

QMenuBar,
QMenuBar::item
{
    background-color: #252C34;
    color: #ffffff;
}

QMenu::item:selected
{
    background-color: #2A2A2A;
}

QMenu::item:disabled
{
    color: #ACACAC;
}

QLineEdit
{
    border: 1px solid #474747;
    min-height: 20px;
    border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus
{
    border: 1px solid #00aaaa;
}

QTabBar::tab
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #414E5C, stop: 1 #37424F);
}

QTabBar::tab:selected
{
    background-color: #283039;
}

QTableView
{
    border: 1px solid #414E5C;
    background-color: #252C34;
}

QHeaderView::section
{
    background-color: #37424F;
    border: none;
    border-left: 1px solid #414E5C;
    border-right: 1px solid #414E5C;
    padding-top: 3px;
    padding-left: 4px;
    min-height: 20px;
}

QTableCornerButton::section
{
    background: #252C34;
    border: 2px outset #414E5C;
}

CustomIDAMemo,
EditContainer
{
    /* FIXME */
    /* font-family: "<TEXT_INPUT_FONT_FAMILY>"; */
    /* font-size: <TEXT_INPUT_FONT_SIZE>; */
    /* font-style: <TEXT_INPUT_FONT_STYLE>; */
    /* font-weight: <TEXT_INPUT_FONT_WEIGHT>; */
}

IDAView
{
    /* FIXME */
    /* font-family: "<DISASSEMBLY_FONT_FAMILY>"; */
    /* font-size: <DISASSEMBLY_FONT_SIZE>; */
    /* font-style: <DISASSEMBLY_FONT_STYLE>; */
    /* font-weight: <DISASSEMBLY_FONT_WEIGHT>; */
}

hexview_t
{
    /* FIXME */
    /* font-family: "<HEXVIEW_FONT_FAMILY>"; */
    /* font-size: <HEXVIEW_FONT_SIZE>; */
    /* font-style: <HEXVIEW_FONT_STYLE>; */
    /* font-weight: <HEXVIEW_FONT_WEIGHT>; */
}

/* TODO: DEBUG_REGISTERS, OUTPUT_WINDOW */

QScrollBar
{
    background-color: #283039;
    width: 20px;
	border-radius: 60px;
    height: 20px;
    margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line
{
    width: 0;
    height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page
{
    background: none;
}

QScrollBar::handle:vertical
{
    min-height: 20px;
}

QScrollBar::handle:horizontal
{
    min-width: 20px;
}

QScrollBar::handle
{
    background-color: #414E5C;
    margin: 3px;
    border-radius: 7px;
}

QToolBar
{
    border: none;
}

QPushButton
{
    border: 1px solid #077;
    text-align: center;
    min-height: 20px;
    min-width: 50px;
    padding: 0 6px 0 6px;
    border-radius: 2px;
}

QPushButton:hover,
QPushButton:default
{
    border: 1px solid #0aa;
}

QPushButton:pressed
{
    border: 1px solid #0ee;
}

TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton
{
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: none;
}

QPushButton.DockWidgetTitleButton
{
    border: none;
    min-height: 15px;
    min-width: 15px;
    margin: 5px;
    padding: 3px;
}

DockWidgetTitle
{
    min-height: 30px;
    padding-bottom: 5px;
}

QComboBox
{
    border: 1px solid #474747;
    border-radius: 2px;
    color: #ddd;
    /*  KLUDGE: https://stackoverflow.com/questions/24447276/qcombobox-text-colour-wont-change-with-style-sheet */
    padding: 1px 0px 1px 3px;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus
{
    border: none;
    min-height: default;
}

QComboBox:hover,
QComboBox:focus
{
    border: 1px solid #00aaaa;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: #666;
    border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView
{
    border: 1px solid #2A2A2A;
}

QComboBox:!editable
{
    background-color: #37424F;
}

QComboBox::down-arrow
{
    image: url("$RELPATH/icons/expand.png");
}

/* Close, maximize and undock button for dock widgets */
IDADockWidget > QWidget > QAbstractButton
{
    background-color: #414E5C;
    border-radius: 3px;
}

QRadioButton,
QLabel,
QCheckBox
{
    background: transparent;
}

QStatusBar QLabel
{
    border: none;
}

QStatusBar::item
{
    border: 1px solid #414E5C;
    border-radius: 5px;
}

EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView
{
    border: 1px solid #414E5C;
    border-radius: 5px;
}

QGroupBox
{
    margin-top: 5px;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top center;
}

/* Remove border from IDC/Python switch button */
CLIWidget > QGroupBox > QPushButton,
CLIWidget > QGroupBox > QPushButton:hover,
CLIWidget > QGroupBox > QPushButton:focus
{
    border: none;
}

CLIWidget > QGroupBox
{
    margin-top: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected
{
    background-color: #37424F;
    color: #ffffff;
}

QToolTip,
QTipLabel
{
    border: 1px solid #45658A;
    border-radius: 2px;
    background: #252C34;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

CustomIDAMemo
{
    border: none;

    qproperty-line-fg-default: #ffffff;
    qproperty-line-fg-regular-comment: #ffc5f3;
    qproperty-line-fg-repeatable-comment: #6855A1;
    qproperty-line-fg-automatic-comment: #45658A;
    qproperty-line-fg-insn: #97FFFF;
    qproperty-line-fg-dummy-data-name: #93FF97;
    qproperty-line-fg-regular-data-name: #FFE68E;
    qproperty-line-fg-demangled-name: #FFF0C8;
    qproperty-line-fg-punctuation: #5F7287;
    qproperty-line-fg-charlit-in-insn: #76FF7B;
    qproperty-line-fg-strlit-in-insn: #76FF7B;
    qproperty-line-fg-numlit-in-insn: #FF824D;
    qproperty-line-fg-void-opnd: #FF5858;
    qproperty-line-fg-code-xref: #FF824D;
    qproperty-line-fg-data-xref: #718672;
    qproperty-line-fg-code-xref-to-tail: #FFA179;
    qproperty-line-fg-data-xref-to-tail: #E0BB38;
    qproperty-line-fg-error: #FF5858;
    qproperty-line-fg-line-prefix: #55677A;
    qproperty-line-fg-opcode-byte: #55677A;
    qproperty-line-fg-extra-line: #ffc5f3;
    qproperty-line-fg-alt-opnd: #FFC5F9;
    qproperty-line-fg-hidden: #FFDE68;
    qproperty-line-fg-libfunc: #97FFFF;
    qproperty-line-fg-locvar: #FF9E74;
    qproperty-line-fg-dummy-code-name: #FFDA55;
    qproperty-line-fg-asm-directive: #76FF7B;
    qproperty-line-fg-macro: #A586FF;
    qproperty-line-fg-strlit-in-data: #87EC8B;
    qproperty-line-fg-charlit-in-data: #76FF7B;
    qproperty-line-fg-numlit-in-data: #FFA178;
    qproperty-line-fg-keyword: #45658A;
    qproperty-line-fg-register-name: #91D0D0;
    qproperty-line-fg-import-name: #FFA3F6;
    qproperty-line-fg-segment-name: #FFDE68;
    qproperty-line-fg-dummy-unknown-name: #76FF7B;
    qproperty-line-fg-code-name: #FFE483;
    qproperty-line-fg-unknown-name: #FFA3F6;
    qproperty-line-fg-collapsed-line: #FFDE68;
    qproperty-line-bg-default: #252C34;
    qproperty-line-bg-selected: #45658A;
    qproperty-line-pfx-libfunc: #45FFBC;
    qproperty-line-pfx-func: #414E5C;
    qproperty-line-pfx-insn: #B63E3E;
    qproperty-line-pfx-data: #B4B446;
    qproperty-line-pfx-unexplored: #E1E12E;
    qproperty-line-pfx-extern: #FFA3F6;
    qproperty-line-pfx-current-line: #A586FF;
    qproperty-line-pfx-lumina: #76FF7B;
    qproperty-graph-bg-top: #414E5C;
    qproperty-graph-bg-bottom: #414E5C;
    qproperty-graph-node-title-normal: #45FFBC;
    qproperty-graph-node-title-selected: #414E5C;
    qproperty-graph-node-title-current: #CA6F47;
    qproperty-graph-node-frame-group: #EBC231;
    qproperty-graph-node-shadow: #283039;
    qproperty-graph-node-high1: #23C62A;
    qproperty-graph-node-high2: #AF3232;
    qproperty-graph-node-foreign: #FF5858;
    qproperty-graph-edge-normal: #67A4FF;
    qproperty-graph-edge-yes: #38D23E;
    qproperty-graph-edge-no: #AF3232;
    qproperty-graph-edge-high: #A586FF;
    qproperty-graph-edge-current: #D9B01F;
    qproperty-line-fg-patched-bytes: #BB3C3C;
    qproperty-line-fg-unsaved-changes: #FF824D;
    qproperty-line-bg-highlight: #45658A;
    qproperty-line-bg-bpt-enabled: #AF3232;
    qproperty-line-bg-bpt-disabled: #76FF7B;
    qproperty-line-bg-bpt-unavailable: #FF824D;
}

CustomIDAMemo[debugging="true"]
{
    qproperty-line-bg-default: #414E5C;
}

CustomIDAMemo[hints="true"]
{
    qproperty-line-bg-default: #37424F;
}

MainMsgList
{
    color: #ddd;
    background-color: #252C34;
}

TCpuRegs
{
    background-color: #414E5C;
    qproperty-register-defined: #000000;
    qproperty-register-changed: #0000ff;
    qproperty-register-edited: #800080;
    qproperty-register-unavailable: #808080;
}

TextArrows
{
    qproperty-jump-in-function: #6c4634;
    qproperty-jump-external-to-function: #00dede;
    qproperty-jump-under-cursor: #ffaa00;
    qproperty-jump-target: #008000;
    qproperty-register-target: #ff8080;
}

navband_t
{
    qproperty-lib-function: #00aaff;
    qproperty-function: #ffaa00;
    qproperty-code: #800000;
    qproperty-data: #ebebb9;
    qproperty-undefined: #787800;
    qproperty-extern: #ff00ff;
    qproperty-error: #ca0000;
    qproperty-gap: #414E5C;
    qproperty-cursor: #80ff00;
    qproperty-auto-analysis-cursor: #ff8000;
    qproperty-lumina-function: #32cd32;
}

TextEdit
{
    qproperty-keyword1-fg: #7171FF;
    qproperty-keyword2-fg: #C728C7;
    qproperty-keyword3-fg: #FF4545;
    qproperty-string-fg: #E47251;
    qproperty-comment-fg: #5AC35A;
    qproperty-preprocessor-fg: #7171FF;
}

TChooser
{
    qproperty-highlight-bg-default: #FF5858;
    qproperty-highlight-bg-selected: #FFA3F6;
}
